<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
    <title>Student Login</title>
</head>
<body>
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-7 mx-auto" align="center">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Student Login</h1>
                        </div>
                        <form class="user" action="#" method="post" th:action="@{/student-dashboard}" th:object="${student}">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                       placeholder="Email Address" th:field="*{email}" autocomplete="off">
                            </div>
                            <div class="form-group">
                                    <input type="password" class="form-control form-control-user"
                                           id="password" placeholder="Password" th:field="*{pass}" autocomplete="off">
                            </div>
                            <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <p class="medium">New Student?<a href="/register-student"> Register now.</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>